.footer {
	background: #000;

	@media (max-width: 1440px) {
		padding-top: calc(60px + (220 - 60) * ((100vw - 320px) / (1440 - 320)));
		padding-bottom: calc(50px + (200 - 50) * ((100vw - 320px) / (1440 - 320)));
	}

	// .footer__wrapper

	&__wrapper {
		display: flex;

		@media (max-width: 1000px) {
			flex-direction: column;
		}
	}

	// .footer__form

	&__form {
		flex: 0 1 420px;
		margin-right: auto;

		@media (max-width: 1000px) {
			margin: 0;
			flex: 1 1 auto;
		}
	}

	// .footer__shell

	&__shell {
		display: flex;
		align-items: center;
	}

	// .footer__field

	&__field {
		height: 50px;

		@media (max-width: 1010px) {
			height: calc(35px + (50 - 35) * ((100vw - 320px) / (1010 - 320)));
		}
		max-width: 350px;
		width: 100%;
		border: 0;
		outline: 0;
		border-radius: 8px 0px 0px 8px;
		padding: 0 20px;
		color: #fff;

		background: rgba(142, 142, 152, 0.2);
	}

	// .footer__btn

	&__btn {
		padding: 17px;
		@media (max-width: 1010px) {
			padding: calc(10px + (17 - 10) * ((100vw - 320px) / (1010 - 320)));
		}
		max-width: 112px;
		width: 100%;
		border-radius: 0px 8px 8px 0px;

		background: #47474c;

		font-size: 14px;
		color: #fff;
	}

	// .footer__note

	&__note {
		margin: 15px 0px 0px 0px;

		@media (max-width: 1010px) {
			font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1010 - 320)));
		}

		color: #47474c;
	}
	// .footer__structure

	&__structure {
		display: grid;

		column-gap: 120px;

		@media (max-width: 1000px) {
			column-gap: calc(40px + (80 - 40) * ((100vw - 320px) / (1000 - 320)));
		}

		grid-template-columns: repeat(3, auto);

		@media (max-width: 1000px) {
			margin-top: calc(40px + (80 - 40) * ((100vw - 320px) / (1000 - 320)));
		}
	}

	// .footer__col

	&__col {
		display: grid;
		grid-template-rows: repeat(auto-fit, auto);
	}

	// .footer__item

	&__item {
		&:not(:last-child) {
			margin: 0px 0px 6px 0px;
		}

		font-size: 14px;
		.footer__link {
			position: relative;

			color: #55555b;
			@media (min-width: 993px) {
				&:before {
					position: absolute;
					top: 0;
					left: 0;
					overflow: hidden;
					max-height: 0;
					color: #fff;
					content: attr(data-hover);
					transition: max-height 0.5s;
				}
				&:hover {
					&:before {
						max-height: 100%;
					}
				}
			}
		}

		// .footer__item_head

		&_head {
			margin: 0px 0px 10px 0px !important;
			color: #8e8e98;
		}
	}
}
